@model Contribe.Ecommerce.Web.ViewModels.ContactViewModel


@using (Ajax.BeginForm("ProcessOrder", "ShoppingCart", null,
						new AjaxOptions { UpdateTargetId = "divList", OnSuccess = "submitOrder" }, new { id = "ProcessOrder" }))
{
	@Html.AntiForgeryToken()
	<h4>Ange dina uppgifter</h4>
	if (!string.IsNullOrEmpty(Model.ErrorMessage))
	{
		<div class="form-group">
			<div class="alert alert-danger">
				<strong>Fel!</strong>@Model.ErrorMessage
			</div>
		</div>
	}

		<div class="form-group">

			<div>
				@Html.EditorFor(model => model.Contact.FirstName, new { htmlAttributes = new { @class = "form-control ", placeholder = "Förnamn*" } })
				@Html.ValidationMessageFor(model => model.Contact.FirstName, "", new { @class = "error v" })
			</div>
		</div>

		<div class="form-group">

			<div>
				@Html.EditorFor(model => model.Contact.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Efternamn*" } })
				@Html.ValidationMessageFor(model => model.Contact.LastName, "", new { @class = "error" })
			</div>
		</div>
		<div class="form-group">

			<div>
				@Html.EditorFor(model => model.Contact.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "E-postadress*" } })
				@Html.ValidationMessageFor(model => model.Contact.Email, "", new { @class = "error" })
			</div>
		</div>
		<div class="form-group">

			<div>
				@Html.EditorFor(model => model.Address.Street, new { htmlAttributes = new { @class = "form-control", placeholder = "Adress*" } })
				@Html.ValidationMessageFor(model => model.Address.Street, "", new { @class = "error" })
			</div>
		</div>
		<div class="form-group">

			<div>
				@Html.EditorFor(model => model.Address.City, new { htmlAttributes = new { @class = "form-control", placeholder = "Ort*" } })
				@Html.ValidationMessageFor(model => model.Address.City, "", new { @class = "error" })
			</div>
		</div>
		<div class="form-group">
			<div>
				@Html.EditorFor(model => model.Address.ZipCode, new { htmlAttributes = new { @class = "form-control", placeholder = "Postnummer*" } })
				@Html.ValidationMessageFor(model => model.Address.ZipCode, "", new { @class = "error" })
			</div>
		</div>
			<div class="form-group">

				<div>

					@Html.EditorFor(model => model.Contact.CellPhoneNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Mobilnummer*" } })
					@Html.ValidationMessageFor(model => model.Contact.CellPhoneNumber, "", new { @class = "error" })
				</div>
			</div>

			<div class="form-group">

				<div>
					@Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
					@Html.TextAreaFor(model => model.Comment, new { rows = 10, columns = 40 })
					@Html.ValidationMessageFor(model => model.Comment, "", new { @class = "error" })
				</div>
			</div>

			@Html.HiddenFor(x => x.ReturnUrl)
			<div class="form-group">
				<input id="btnSubmit" type="submit" class="btn btn-sm btn-default" value="Genomför köp" />

			</div>

			}



